@charset "UTF-8";

*::selection {
    background-color: #4B0069;
}

.caixa {
    background-color: #541F69;
}

.titulo {
    color: white; 
    font-weight: bold;    
}

.destaque {
    color: #B5A212;
    font-weight: bold;
}

.botao {
    border-color: #FFF !important;
    background-color: #4B0069 !important; 
    color: #FFF !important;
}

.postagens {
    background-color: #FFF;
}